* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    color: inherit;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;

}

.Barra {
    background-color: #0a35f1; 
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
}

.Titulo-Pagina {
    text-decoration: none;
    position: absolute;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
}

#Logo {
    background-color: #afafaf;  
    color: white;
    border: none;
    border-radius: 8px;
    padding: 11px 40px;
    font-size: 16px;
    margin: 1%;
}

.Nova-Tabela {
    font-size:14px;
    color:rgb(145, 145, 145);
    margin: 10px 100px;
}
	    
table {
    border-collapse: collapse;
    width: 85%;
     margin: 0 auto;
     max-width: 1200px;
     margin-bottom: 15px;
}

th {
    padding: 10px 1px 18px 7px;
    border: 1px solid #ccc;
    text-align: left;
}

td.id, th.id {
    width: 0.5%;
    text-align: right;
    padding: 10px 5px 15px 19px;
    border: 1px solid #ccc;
    font-size: 20px;
}

td.descricao, th.descricao {
    width: 1.9%;
    text-align: left;
    padding: 10px 1px 15px 7px;
    border: 1px solid #ccc;
    font-size: 20px; 
}

td.valor, th.valor {
    width: 0.65%;
    text-align: right;
    padding: 10px 6px 15px 5px;
    border: 1px solid #ccc;
    font-size: 20px; 
}

td.tipo, th.tipo {
    width: 0.1%;
    text-align: left;
    padding: 10px 1px 15px 5px;
    border: 1px solid #ccc;
    font-size: 20px; 
}

td.acao, th.acao {
    width: 0.75%;
    padding: 10px 1px 15px 4px;
    border: 1px solid #ccc;
    font-size: 20px;
}

td.data, th.data {
    width: 0.4%;
    text-align: center;
    padding: 10px 14px 15px 14px;
    border: 1px solid #ccc;
    font-size: 20px; 
}

td.hora, th.hora {
    width: 0.3%;
    text-align: center;
    padding: 10px 10px 15px 10px;
    border: 1px solid #ccc;
    font-size: 20px; 
}

.TotalDePagos {
    font-size:18px; 
    padding-left: 70px;
    padding-right: 40px;
}

.TotalDeRecebidos {
    font-size:18px; 
    padding-left: 50px;
    padding-right: 75px;
}

.Saldo {
    font-size: 18px; 
    padding-left: 100px;
    padding-right: 100px;
}

.acao-edit {
    padding: 10px 1px 15px 5px;
    border: none;
    font-size: 20px; 
    cursor: pointer;
}

.acao-edit:hover {
    color: #0a35f1;
}

.acao-delete {
    padding: 10px 1px 15px 5px;
    border: none;
    font-size: 20px; 
    cursor: pointer;
}

.acao-delete:hover {
    color: #0a35f1;
}

.separate {
    font-weight: bold;
    font-size: 23px;
    margin-right: -2px;
    margin-left: 2px;
}
.list {
    font-size: 19px;
    font-weight: lighter;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 11% auto;
    padding: 20px;
    border: none;
    width: 100%;
    max-width: 600px;
    height: 300px;
    text-align: center;
}

.modal-title {
    background-color: #0a35f1; 
    color: #ffffff; 
    padding: 15px; 
    text-align: center; 
    margin: -20px; 
    height: 60px;
    
}

.modal-message {
    font-size: 18px;
    margin: 50px 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    position: relative;
    right: 0%;
    top: 28%;
    gap: 36%;
}

.modal-button {
  background-color: hsla(229, 67%, 49%, 0.863);  
  color: hsl(0, 0%, 100%);
  min-width: 80px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 100px;
}



/*  */

/* Labels e Inputs */
.totais {
    display: flex; /* Coloca os blocos lado a lado */
    gap: 20px; /* Espaço entre os blocos */
    margin: 20px;
}

.campo {
    display: flex;
    flex-direction: column; /* Coloca label em cima do input */
    gap: 15px; /* Espaço entre a label e o input */
    border-color: #0a35f1;
    margin-left: 90px;
}

.campo label {
    font-weight: bold;
    color: #333;
    text-align: center;
}

.campo input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.campo button {
    align-content: start;
    background-color: #0a35f1;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    padding: 8px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 32px;
    margin-left: 210px;
}

.linha-formulario {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.formulario {
    margin-top: 10%;
}

.campo-editar {
    display: flex;
    text-align: center;
    gap: 10px;
    flex: 1;
    min-width: 150px;
}

.campo-editar label {
    width: 80px; /* mesmo tamanho pra todas */
    text-align: right; /* ou left, se preferir */
}

.campo-editar input {
    flex: 1;
    padding: 5px;
    height: 30px;
    box-sizing: border-box;
}

.grupo-checkboxes {
    display: flex;
    gap: 20px;
    align-items: center;
}